.searchWrap {
    margin: 5px 0 20px 0;
    display: flex;
}

.signupWrap {
    margin: 5px 0 20px 0;
    display: flex;
    flex-direction: column;
}

.signupWrap input, .signupWrap button {
    margin: 10px 0;
}

.signupWrap button {
    background-color: rgb(82, 125, 82);  
    color: #fff;
}

.searchWrap input {
    flex-grow: 1;
}

.searchWrap button {
    border: none;
    background-color: rgb(82, 125, 82);  
    flex: 0 0 60px;
}

.searchIcon {
    padding: 3px;
    display: inline-block;
    transform: scale(0.8);
    background-color: #fff;
    -webkit-mask: url(/search.svg) no-repeat center;
    mask: url(/search.svg) no-repeat center;
}

.searchIcon span {
    visibility: hidden;
    font-size: 10px;
}
