.searchWrap {
    width: 100%;
    margin: 5px 0 20px 0;
    display: flex;
    position: relative;
}

.signupWrap {
    margin: 5px 0 20px 0;
    display: flex;
    flex-direction: column;
}

.signupWrap input, .signupWrap button {
    margin: 10px 0;
}

.signupWrap button {
    background-color: rgb(82, 125, 82);  
    color: #fff;
}

.searchWrap input {
    flex-grow: 1;
}

.searchWrap button {
    border: none;
    background-color: rgb(82, 125, 82);  
    flex: 0 0 10%;
}

.searchIcon {
    padding: 3px;
    display: inline-block;
    transform: scale(0.8);
    background-color: #fff;
    -webkit-mask: url(/search.svg) no-repeat center;
    mask: url(/search.svg) no-repeat center;
}

.searchIcon span {
    visibility: hidden;
    font-size: 10px;
}

.pagination {
    display: flex;
}

.pagination a,
.pagination span {
    display: block;
    margin: 1px;
    padding: 3px 5px;
    color: rgb(79, 161, 59);
}

.pageText {
    margin: 6px;
    color: rgb(123, 123, 123);
    font-size: 13px;
}

.currentPage {
    background-color: rgb(79, 161, 59);
    color: #fff !important;
    border-radius: 5px;
}