
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Source+Sans+Pro:wght@200;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1260px;
}

.slick-slide {
  outline: none
}


h1, h2, h3, h4, h5 {
  margin: 8px 0 3px 0;
  padding: 0;
}

h2 {
   font-weight: 600;
}

h1 {
  font-size: 35px;
  font-weight: 200;  
  line-height: 40px;
}

h4 {
  color: rgb(113, 124, 113);
}

p {
   font-weight: 200;
   line-height: 28px;
}

a {
  color: rgb(79, 161, 59);
}

a:hover {
  color: rgb(130, 199, 112);
  transition: color 0.2s ease-in-out;
}

ul li p {
  margin: 0;
  line-height: 25px;
}

p {
  white-space: pre-wrap;
}

.footer {
  width: 100%;
  font-weight: 200;
  background-color: #eee;
  font-size: 13px;
  margin-top: 30px;
  padding: 20px 0 100px 0;
  border-top: 3px solid rgba(160, 201, 99, 0.884);
}

.inner {
  max-width: 1260px;
  margin: 0 auto;
  padding: 1rem;
}

.footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 auto 20px auto;
  padding: 0;
  font-size: 18px;
}

.footer ul li {
  margin: 0 20px 0 0; 
}

.footer ul li ul {
  display: none; 
}

@media screen and (max-width: 700px) {
  .footer ul {
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
  }
  .footer {
    padding: 5%;
    font-size: 11px;
  }
}
  