


.container {
  margin: 0 auto;
  max-width: 1260px;
}


.update {
  margin: 0 0 35px 0;
  padding-bottom: 35px;
  border-bottom: 1px solid #efefef;
}

.main {
  display: flex;
  width: 100vw;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.left {
  flex: 1;
  padding: 1rem 2rem;
  margin-top: -10px;
}

.right {
  flex: 0 0 420px;
  margin: 5px 3%;
}

.right h1 {
  font-size: 22px;
}

@media screen and (max-width: 1000px) {  
  .main {
    display: flex;
    flex-direction: column;
  }
  .container {
    margin: 0 auto;
    min-width: 100%;
  }
  .update {
    border: none;
  }
  .right {
    border-top: 1px solid #efefef;
    margin-top: 50px;
    padding-top: 40px;
    margin: 0 auto;
    width: 90%
  }
}
  