


.container {
  margin: 0 auto;
  max-width: 1260px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.main {
  display: flex;
}

.left {
  flex: 1;
  padding: 1rem;
}

.right {
  flex: 0 0 420px;
}

@media screen and (max-width: 800px) {  
  .main {
    display: flex;
    flex-direction: column;
  }
  .container {
    margin: 0 auto;
    min-width: 100%;
  }
}
  