.slideShowWrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 4px 0;
    z-index: 1;
}

.slide {
    width: auto;
    height: 240px;    
    overflow: hidden;
    text-align: center;
    padding: 0 2px;
}

.slide img {
    max-width: 100%;
}