.socialsWrapper {
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    margin-right: 20px;
        margin-left: 10px;
}

.socialsWrapper a {
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  color: #eee;
  background-color: rgba(82, 125, 82, 0.844);
}

.insta {
    -webkit-mask: url(/instagram.svg) no-repeat center;
    mask: url(/instagram.svg) no-repeat center;
}

.face {
    -webkit-mask: url(/facebook.svg) no-repeat center;
    mask: url(/facebook.svg) no-repeat center;
}

.nextdoor {
    -webkit-mask: url(/nextdoor.svg) no-repeat center;
    mask: url(/nextdoor.svg) no-repeat center;
}

.socialsWrapper span {
    display: none;
}

@media only screen and (max-width: 750px) {
    .socialsWrapper {
        margin-right: 10px;
        margin-left: 10px;
    }
}